<h1>Create an article</h1>

<% if @article.errors.any? %>
<h2> The following errors prevented the article from getting created </h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_for @article do |c| %>
  <p>
    <%= c.label :title %><br/>
    <%= c.text_field :title %>
  </p>
  <p>
    <%= c.label :description %><br/>
    <%= c.text_area :description %>
  </p>
  <p>
    <%= c.submit %>
  </p>

<% end %>